@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

input, select, textarea, button {
  font-family: 'Noto Sans TC', sans-serif;
}

#user-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  transition: 0.5s;
}

#user-container:hover {
  background-color: purple;
}

.srv {
  background-color: white;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.loading {
  animation: loading 2.5s infinite;
}